.NotesLink {
  padding-bottom: 1px;

  &:hover {
    border-bottom: 1px solid #fff;
  }
}

.NotesLinkText {
  display: inline-block;
  margin-left: 0.4vw;
  font-size: 30px;
  font-weight: normal;
  color: white;
}
