.GridLayout {
  height: 97vh;
  width: 100vw;
  padding-top: 3vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px 30px;
  background-size: cover;
  background-image:
    linear-gradient(
      color(black a(85%)),
      color(black a(85%))
    ),
    url(../../../assets/images/main-page-image.jpg);
  font-family: "MPLUSRounded", sans-serif;
}

.HomeLink {
  grid-column: 1 / 3;
  text-align: center;
}

.MainTitle {
  grid-row: 1;
  grid-column: 3 / 7;
  text-align: center;
}

.ToggleLanguage {
  grid-row: 1;
  grid-column: 7 / 9;
  text-align: center;
}

.SignIn {
  grid-row: 3 / 8;
  grid-column: 3 / 7;
}

@font-face {
  font-family: "MPLUSRounded";
  src: url("../../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 1280px) {
  .HomeLink {
    grid-column: 1 / 2;
    position: relative;
  }

  .ToggleLanguage {
    grid-row: 9;
    grid-column: 7 / 9;
    text-align: center;
  }
}
