.FormHeaderText {
  font-size: 36pt;
  color: white;
  margin: 0;
}

.SendLink {
  text-decoration: none;
}

.SendButton {
  display: block;
  height: 8vh;
  width: 100%;
  border: 0.5px solid #e0b39a;
  background: rgb(224, 179, 154);
  font-family: "MPLUSRounded", sans-serif;
  font-size: 30px;
  margin: 3vh 0;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }

  &:focus {
    outline: none;
    background: rgb(224, 179, 154);
  }
}

.LostPasswordText {
  display: block;
  text-align: right;
  color: #808080;
  text-decoration: none;
  font-weight: normal;

  &:hover,
  &:focus {
    color: #fff;
  }
}
