.icon_button {
  color: white;
}

.dropdown_content {
  display: none;
  position: absolute;
  right: 95px;
  background: black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 160px;
  z-index: 1;
  font-weight: bolder;
}

.dropdown_content a {
  padding: 23px 17.5px;
}

.profile_dropdown:hover .dropdown_content {
  display: flex;
}

.profile_dropdown:hover .icon_button {
  color: #ccc;
}
