.white_button {
  background-color: transparent;
  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  letter-spacing: -0.075em;
  cursor: pointer;
}

.white_button:hover {
  border: 1px solid white;
}

.white_button:focus {
  outline: none;
  border: 2px solid white;
}

.focused_white_button {
  background-color: transparent;
  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: -0.075em;
  border: 1px solid white;
  cursor: pointer;
}

.focused_white_button:hover {
  border-width: 2px;
}

.focused_white_button:focus {
  outline: none;
  border-width: 3px;
}

.underlined_white_button {
  background-color: transparent;
  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  letter-spacing: -0.075em;
  cursor: pointer;
}

.underlined_white_button:hover {
  border-bottom: 1px solid white;
}

.underlined_white_button:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.pink_button {
  background-color: transparent;
  color: #e0b39a;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  letter-spacing: -0.075em;
  cursor: pointer;
}

.pink_button:hover {
  border: 1px solid #e0b39a;
}

.pink_button:focus {
  outline: none;
  border: 2px solid #e0b39a;
}

.focused_pink_button {
  background-color: transparent;
  color: #e0b39a;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: -0.075em;
  border: 1px solid #e0b39a;
  cursor: pointer;
}

.focused_pink_button:hover {
  border: 2px solid #e0b39a;
}

.focused_pink_button:focus {
  outline: none;
  border-width: 3px;
}

.underlined_pink_button {
  background-color: transparent;
  color: #e0b39a;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  letter-spacing: -0.075em;
  cursor: pointer;
}

.underlined_pink_button:hover {
  outline: none;
  border-bottom: 1px solid #e0b39a;
}

.underlined_pink_button:focus {
  outline: none;
  border-bottom: 2px solid #e0b39a;
}

.filled_pink_button {
  background-color: #e0b39a;
  color: black;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: bolder;
  letter-spacing: -0.075em;
  border: 2px solid #e0b39a;
  cursor: pointer;
}

.filled_pink_button:hover {
  border: 2px solid #e0b39a;
}

.filled_pink_button:focus {
  outline: none;
  border-width: 3px;
}
