.FormWrapper {
  display: flex;
  margin: 3vh 0;
}

.Icon {
  text-align: center;
  padding: 2vh 0 1vh 0;
  min-width: 5vw;
  max-height: 6vh;
  border-top: 0.5px solid #808080;
  border-bottom: 0.5px solid #808080;
  border-left: 0.5px solid #808080;
}

.FormLabel {
  position: absolute;
  visibility: hidden;
}

.Form {
  font-family: "MPLUSRounded", sans-serif;
  font-size: 30px;
  padding: 1vh;
  height: 7vh;
  width: 100%;
  border: 0.5px solid #808080;
  background-color: transparent;
  color: white;
  outline: none;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 1456px) {
  .Icon {
    display: none;
  }
}
