* {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(270deg, #e9e9e9 0%, #f8f8f8 8%, #f8f8f8 92%, #e9e9e9 100%);
  font-family: "MPLUSRounded", sans-serif;
}

.header {
  padding: 20px 80px;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  font-size: 30px;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.links {
  width: 23em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.main {
  height: 100%;
  padding: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1000;
  font-size: 18px;
}

.main a {
  color: black;
}

.main a:visited {
  color: #888;
}

.main div {
  flex-basis: 40%;
  min-width: 300px;
  margin: 10px 20px;
}

.main h1 {
  margin: 5px;
}

.main p {
  margin: 5px;
}

.main ul {
  margin: 10px 20px;
  list-style: square;
}

.main > div > div ul {
  margin: 10px 8px;
  list-style: none;
}

.footer {
  height: 60px;
  padding: 20px 80px;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  font-size: 13px;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.media {
  display: flex;
  text-align: center;
}

.media > i {
  margin: 10px;
}

.contacts {
  text-align: right;
}

@font-face {
  font-family: "MPLUSRounded", sans-serif;
  src: url("../../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
