* {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: row;
  background:
    linear-gradient(
      270deg,
      #e9e9e9 0%,
      #f8f8f8 8%,
      #f8f8f8 92%,
      #e9e9e9 100%
    );
  font-family: "MPLUSRounded", sans-serif;
}

.sidebar {
  position: fixed;
  z-index: 3;
  height: calc(100vh - 380px);
  width: 350px;
  padding: 280px 0 100px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  color: white;
  letter-spacing: -0.075em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chosen {
  font-weight: bolder;
}

.body {
  width: 100vw;
  min-height: 100vh;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 20px 80px;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.links {
  width: 23em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.main {
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4em;
}

.footer {
  height: 60px;
  padding: 20px 80px;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  font-size: 13px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.media {
  display: flex;
  text-align: center;
}

.media > i {
  margin: 10px;
}

.contacts {
  text-align: right;
}

@font-face {
  font-family: "MPLUSRounded";
  src:
    url("../../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
