* {
  padding: 0;
  margin: 0;
  white-space: normal;
}

.body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "MPLUSRounded", sans-serif;
}

.header {
  padding: 20px 80px;
  position: fixed;
  width: 91.5%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.links {
  width: 23em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.hide {
  display: none;
}

.our_vision {
  background-image: url(../../../assets/images/main-page-image.jpg);
  height: calc(100vh - 180px);
  background-size: cover;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 90px 135px;
  letter-spacing: -0.075em;
}

.vision_title {
  width: 30%;
  min-width: 530px;
  font-size: 48px;
  padding: 15px 0;
}

.vision_text {
  width: 30%;
  min-width: 530px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.author_info {
  height: calc(100vh - 360px);
  min-height: 520px;
  padding: 120px 135px;
  background: linear-gradient(270deg, #e9e9e9 0%, #f8f8f8 8%, #f8f8f8 92%, #e9e9e9 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
}

.author_text {
  width: 500px;
  min-width: 400px;
  margin: 0 25px;
}

.about_author {
  font-size: 20px;
  text-align: justify;
}

.author_title {
  padding-bottom: 36px;
  font-size: 48px;
  min-width: 215px;
}

.author_photo {
  border: 5px solid #e0b39a;
  width: 500px;
  min-width: 400px;
  margin: 0 25px;
}

.categories {
  height: calc(100vh - 400px);
  min-height: 440px;
  padding: 50px 135px;
  gap: 2em;
  background: radial-gradient(50% 50% at 50% 50%, rgba(6, 7, 10, 0.96) 0%, #06070a 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.get_started {
  font-weight: bolder;
  color: white;
  font-size: 48px;
}

.categories_fast_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer {
  height: 60px;
  padding: 20px 80px;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  font-size: 13px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.media {
  display: flex;
  text-align: center;
}

.media > a {
  margin: 10px;
  color: white;
}

.contacts {
  text-align: right;
}

@font-face {
  font-family: "MPLUSRounded";
  src: url("../../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
