.ActivityIcon {
  display: inline-block;
}

.TitleText {
  display: inline-block;
  margin: 0 0 0 0.5vw;
  font-size: 72px;
  font-weight: bold;
  color: white;
}

@media (max-width: 1024px) {
  .ActivityIcon {
    display: none;
  }

  .TitleText {
    font-size: 60px;
  }
}
