.HomeLink {
  padding-bottom: 1px;

  &:hover {
    border-bottom: 1px solid #fff;
  }
}

.HomeIcon {
  display: inline-block;
  vertical-align: -5%;
}

.HomeText {
  display: inline-block;
  margin-left: 0.4vw;
  font-size: 30px;
  font-weight: normal;
  color: white;
}

@media (max-width: 1280px) {
  .HomeText {
    display: none;
  }

  .HomeLink {
    top: 20%;
  }
}
