.course_link {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.course {
  width: 350px;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  text-align: left;
  letter-spacing: -0.075em;
  color: black;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  background-color: #f8f8f8;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.07));
}

.course > .name {
  height: 41px;
  padding: 5px 20px 20px;
}

.img_container {
  height: 180px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.img_container > img {
  width: 350px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.glassblur {
  position: absolute;
  border-radius: 10px 10px 0 0;
  z-index: 3;
  width: 350px;
  height: 180px;
  background: radial-gradient(50% 92.53% at 50% 50%, rgba(196, 196, 196, 0.13) 70.31%, rgba(196, 196, 196, 0.2) 100%);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-size: 100%;
}

.arrow_btn {
  z-index: 4;
  position: absolute;
  width: 72px;
  height: 72px;
  display: flex;
  padding-right: 8px;
  padding-bottom: 8px;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(to right bottom, transparent 50%, #e0b39a 0);
}

.course_link:hover .arrow_btn {
  width: 74px;
  height: 74px;
  padding-right: 9px;
  padding-bottom: 9px;
}

.course_link:active .arrow_btn {
  width: 72px;
  height: 72px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.category_link {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.category_link:hover .arrow_btn {
  width: 74px;
  height: 74px;
  padding-right: 9px;
  padding-bottom: 9px;
}

.category_link:active .arrow_btn {
  width: 72px;
  height: 72px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.category_link .course {
  color: white;
  border: none;
  border-radius: 0;
  background-color: transparent;
  filter: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.6));
}

.category_link:active .course {
  filter: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.3));
}

.category_link:hover .course {
  filter: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.9));
}

.course_link:active .course {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.02));
}

.course_link:hover .course {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.15));
}

.category_link .name {
  height: 41px;
  padding: 25px 0 15px 0;
}

.category_link:visited .name {
  color: white;
}

.course_link :visited .name {
  color: #808080;
}

.category_link img {
  border-radius: 0;
}

.category_link .glassblur {
  border-radius: 0;
}

.course_link:hover .glassblur {
  background: transparent;
  filter: none;
}

.category_link:hover .glassblur {
  background: transparent;
  filter: none;
}

.description_block {
  color: #e0b39a;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.075em;
  text-align: justify;
}
